{% extends "base.html" %}

{% block head_title %}
{{ title }} | {{ block.super }}
{% endblock head_title %}

{% block style %}
    #deposer {
        border: 4px dashed #ccc;
        border-radius: 2px;
        padding: 20px;
        margin: 30px;
        
    }
    #deposer > .bigTxt {
        color: #ccc;
        font-size: 1.5em;
    }

    #deposer > .smallTxt {
        margin-bottom:0;
        color: #ddd;
        font-size: 1em;
    }
    #deposer  > i{
        margin: 10px;
        padding: 10px;
        color: #ddd;
        font-size:6em;
        
    }
{% endblock style %}

{% block content %}


 
<div class='container uploading-queue'>
<!-- <div class="media">
  <img class="mr-3" src="/static/account.png" alt="Generic placeholder image">
  <div class="media-body">
    <h5 class="mt-0">Media heading</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
</div> -->
</div>
<div class="row" id="upload">
    <div class="col-xs-2 col-sm-3 col-md-4 "></div>
        <div class="col-xs-8 col-sm-6 col-md-4 text-center"  id="deposer">
            <p class="bigTxt">Drag and drop video files</p>
            <i class="material-icons">file_upload</i>
            <p class="smallTxt">Or you can also..</p>
            <label id="import-manual-trigger" class="btn-link" style="cursor:pointer">
                Select files manually
                <input type="file" name="fileToUpload" class="upload-video" id="file-select" enctype="multipart/form-data" accept='video/mp4,video/x-m4v,video/*'  style="display: none" multiple>
            </label>
        </div>
    <div class="col-xs-2 col-sm-3 col-md-4 "></div> 
</div>

{% endblock content %}

{% block script %}
<script src="/static/js/upload.js"></script>
{% endblock script %}