{% load staticfiles %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSoQube"
                aria-controls="navbarSoQube" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSoQube">
            <a class="navbar-brand" href="#"><img style="max-width:36px; " src="{% static 'logo.png' %}"></a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item {% if request.path == "/" or request.path == "/upload/" %} active {% endif %}">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <div class="dropdown show">
                    <li class="nav-item">

                        <a class="nav-link dropdown-toggle {% if request.path|slice:":3" == "/o/" %} active {% endif %}"
                           href="" id="dropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            OAuth
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'oauth2_provider:list' %}">Applications</a>
                            <a class="dropdown-item"
                               href="{% url 'oauth2_provider:authorized-token-list' %} ">Tokens</a>

                        </div>

                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <p>
                    <img style="max-width:36px;" src="{% static 'account.png' %}" class=" mr-2">
                    Welcome, {{ user.username }}.

                    <a href="/accounts/logout/?next=/" class="ml-2">Sign out</a>
                </p>
            {% else %}
                {% if not request.path == "/accounts/login/" %}
                    <a href="/accounts/login/">Sign in</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>


    <div class="jumbotron">
        <h1 class="display-4">DCM-OVS</h1>
        <p>
            <span class="lead">This is a simple Demo,</span>
            Demonstrates using separate Secure Storage.</p>
    </div>

</header>


