{% load staticfiles %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSoQube"
                aria-controls="navbarSoQube" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSoQube">
            <a class="navbar-brand" href="#"><img style="max-width:36px; " src="{% static 'logo.png' %}"></a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

                <li class="nav-item {% if request.path == "/" %} active {% endif %}">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path|slice:":3" == "/o/" %} active {% endif %}" href="{% url 'oauth:gettokens' %}">Oauth</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">About</a>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <p>
                    <img style="max-width:36px;" src="{% static 'account.png' %}" class=" mr-2">
                    Welcome, {{ user.username }}.

                    <a href="/accounts/logout/?next=/" class="ml-2">Sign out</a>
                </p>
            {% else %}
                {% if not request.path == "/accounts/login/" %}
                    <a href="/accounts/login/">Sign in</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>


    <div class="jumbotron">
        <h1 class="display-4">Secure Storage</h1>
        <p>
            <span class="lead">This is a simple Demo,</span>
            Demonstrates using separate Secure Storage.</p>
    </div>

</header>


